[Unit]
Description=RuneAudio Playback Worker
After=network.target

[Service]
ExecStartPre=-/bin/sleep 15
ExecStart=/var/www/command/rune_PL_wrk
TimeoutSec=70
Restart=always

[Install]
WantedBy=multi-user.target
